{% extends "_base.html" %}

{% block content %}

<div class="text-center">
  <h1>Welcome!</h1>
</div>

<br>

<form action="/" method="POST">
  <div class="form-group">
    <input name="text" class="form-control input-lg" type="text" placeholder="Insira um nome" required>
    <input name="category" class="form-control input-lg" type="text" placeholder="Insira uma categoria" required>
    <input name="price" class="form-control input-lg" type="number" placeholder="Insira um preço" required>
  </div>
  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">
</form>

<br>
<hr>

<div>
  {% for post in posts %}
    <h4 class="well"><strong>{{post.text}}</strong></h4>
    <h4 class="well"><strong>{{post.category}}</strong></h4>
    <h4 class="well"><strong>{{post.price}}</strong></h4>
  {% endfor %}
</div>

{% endblock %}